{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/static/style.css">
{% endblock style %}


{% block content %}
   <section class="cards">
        <div class="container-fluid">
            <div class="row">
                <h1><u>BIKES</u></h1>
                <div class="col-md-6">
                    <div class="card">
                        <img src="/static/img/tvs1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">TVS Raider</h5>
                            <p class="card-text">The TVS Raider 125 is a stylish and feature-rich commuter motorcycle,
                                designed to offer a blend of performance, efficiency, and modern technology. With its
                                sporty design and advanced features, it stands out in the 125cc segment.
                                <li>Engine: 124.8cc, air & oil-cooled, 3-valve, single-cylinder</li>
                                <li>Top Speed: 99 km/h</li>
                                <li>Mileage: ARAI certified 67 km/l; real-world reports suggest 55–60 km/l</li>
                                <li>Fuel Tank Capacity: 10 liters</li>
                            </p>

                            <a href="/tvs1/" class="btn btn-primary">More info</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img src="/static/img/tvs2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">TVS Apache RTR 310</h5>
                            <p class="card-text">The TVS Apache RTR 310 is a feature-rich naked streetfighter that
                                blends aggressive styling with cutting-edge technology and performance. Designed for
                                both urban commuting and spirited rides, it offers a dynamic riding experience.
                                <li>Engine: 312.12cc single-cylinder, liquid-cooled, fuel-injected engine</li>
                                <li>Top Speed: 150 km/h</li>
                                <li>Power Output: 35.6 PS @ 9,700 rpm (Sport, Track, SuperMoto modes)</li>
                                <li>Fuel Tank Capacity: 11 liters</li>
                            </p>

                            <a href="/tvs2/" class="btn btn-primary">More info</a>

                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="card">
                        <img src="/static/img/re1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Royal Enfield Hunter 350</h5>
                            <p class="card-text">The Royal Enfield Hunter 350 is a nimble, retro-style roadster built
                                for urban rides.
                                Powered by a 349cc engine, it delivers smooth performance with a thumpy exhaust note.
                                With agile handling and bold design, it's perfect for city commutes and casual
                                touring.
                                <li>Engine: 349cc, single-cylinder</li>
                                <li>Top Speed: ~114 km/h</li>
                                <li>Mileage: ~36 km/l</li>
                                <li>Fuel Tank Capacity: 13 liters</li>
                            </p>

                            <a href="/royal1/" class="btn btn-primary">More info</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img src="/static/img/re2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Royal Enfield Interceptor 650</h5>
                            <p class="card-text">The Royal Enfield Interceptor 650 is a classic-styled twin-cylinder
                                motorcycle that combines retro aesthetics with performance. Launched in 2018, it
                                is a popular choice among riders seeking a stylish bike for both
                                city commuting and highway cruising.
                                <li>Engine: 648cc air-oil cooled parallel twin</li>
                                <li>Top Speed: 169 km/h</li>
                                <li>Power Output: 47 bhp @ 7,150 rpm</li>
                                <li>Fuel Tank Capacity: 13.7 L (including 2.7 L reserve)</li>
                            </p>

                            <a href="/royal2/" class="btn btn-primary">More info</a>
                        </div>
                    </div>
                </div>
                <hr>
                <h1><u>EV-BIKES</u></h1>
                <div class="col-md-6">
                    <div class="card">
                        <img src="/static/img/eb1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ola Roadster Pro</h5>
                            <p class="card-text">The Ola Roadster Pro is a electric motorcycle that
                                combines cutting-edge technology with impressive acceleration. Designed for
                                enthusiasts seeking a blend of speed, style, and sustainability, it stands out in the
                                electric motorcycle segment.
                                <li>Motor: 52 kW (70.7 PS) electric motor</li>
                                <li>Top Speed: 194 km/h</li>
                                <li>Charging Time: 0–100% in 3.7 hours (8 kWh)</li>
                                <li>Battery Options: 8 kWh @ 316 km range , 16 kWh @ 579 km range</li>
                            </p>
                            <a href="/ola1/" class="btn btn-primary">More info</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img src="/static/img/eb2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tork Kratos R Urban</h5>
                            <p class="card-text">The Tork Kratos R Urban is an affordable electric motorcycle designed
                                for daily city commuting. Priced at ₹1,67,499 (ex-showroom), it offers essential
                                features and performance tailored for urban riders.
                                <li>Motor: 9 kW (12 bhp) Axial Flux motor</li>
                                <li>Top Speed: 70 km/h</li>
                                <li>Charging Time: 0–100% in 6–7 hours</li>
                                <li>Battery: 4.0 kWh Li-ion (IP67 rated)</li>
                            </p>
                            <a href="/tork1/" class="btn btn-primary">More info</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img src="/static/img/eb3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Revolt RV400 BRZ</h5>
                            <p class="card-text">The Revolt RV400 BRZ is an affordable electric motorcycle designed for
                                daily city commuting. Priced at ₹1,43,000 (ex-showroom), it offers essential features
                                and performance tailored for urban riders.
                                <li>Motor: 3 kW Mid Drive Motor</li>
                                <li>Top Speed: 85 km/h</li>
                                <li>Charging Time: 0–75% in 3 hours; 0–100% in 4.5 hours</li>
                                <li>Battery: 3.24 kWh Lithium-Ion</li>
                            </p>

                            <a href="/revolt1/" class="btn btn-primary">More info</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img src="/static/img/eb4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Revolt RV1</h5>
                            <p class="card-text">The Revolt RV1 is an affordable electric commuter motorcycle designed
                                for urban riders. Priced at ₹84,990 (ex-showroom), it offers essential features and
                                performance tailored for daily city commuting.
                                <li>Motor: 2.8 kW (3.75 bhp) mid-drive motor</li>
                                <li>Top Speed: 70 km/h</li>
                                <li>Charging Time: 0–80% in 2 hours 15 minutes; 0–100% in 3 hours 30 minutes</li>
                                <li>Battery Options: 2.2 kWh battery-100km range, 3.24 kWh battery-160km range</li>
                            </p>

                            <a href="/revolt2/" class="btn btn-primary">More info</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
 </section>
 {% endblock content %}
